@charset "UTF-8";
:root {
  --ratio: 100%;
}

/*
.carrousel__ouvrir {
  display: none;
}

/*
.carrousel {
  position: fixed;
  width: 100vw;
  height: 100vh;
  max-width: 100vw;
  max-height: 100vh;
  top: 0;
  left: 0;
  background-color: hsla(235deg, 21%, 10%, 0.9);
  transform: scale(0);
  transition: transform 500ms;
  z-index: 1000;
*/
.carrousel {
  position: fixed;
  right: 25%;
  top: 5%;
  transform: scale(0);
  transition: transform 0.5s;
  width: 45vw;
  z-index: 1000;
  /*
    @media screen and (min-width: 992px) {
      width : 60vw;
    }*/
}
.carrousel:after {
  content: "";
  display: block;
  padding-bottom: var(--ratio);
}
.carrousel .carrousel__x {
  background-color: hsla(235, 21%, 10%, 0.5);
  border: 1px solid hsl(218, 17%, 22%);
  border-radius: 4px;
  color: hsl(235, 21%, 70%);
  cursor: pointer;
  font-size: 1.4rem;
  padding: 0.2rem 0.4rem;
  position: absolute;
  right: 3px;
  top: 3px;
  z-index: 2000;
  /*
      @media screen and (min-width: 992px) {
        right: 30%;
        top: 6%;
      }*/
}
.carrousel .carrousel__figure {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  /*
      @media screen and (min-width: 992px) {
        top: 5%;
      }*/
}
.carrousel .carrousel__img {
  display: block;
  height: 100%;
  opacity: 0;
  position: absolute;
  width: 100%;
  /* @media screen and (min-width: 992px) {
     max-width: 1024px;
     max-height: 85vh;
   }*/
}
.carrousel .carrousel__form {
  display: block;
  bottom: 0;
  position: absolute;
  text-align: center;
  width: 100%;
  z-index: 3000;
}
.carrousel .carrousel__form .carrousel__rad {
  display: inline-block;
  margin: 0.8rem;
}
.carrousel .carrousel__form .carrousel__rad:checked {
  accent-color: hsl(197, 85%, 66%);
  border: 4px solid hsl(235, 21%, 14%);
}
.carrousel .fleche {
  border-top: 1rem solid transparent;
  border-bottom: 1rem solid transparent;
  bottom: 0;
  cursor: pointer;
  height: 1rem;
  margin: 0.4rem;
  position: absolute;
  width: 2rem;
  z-index: 3000;
  /*
      @media screen and (min-width: 992px) {
        bottom: 50%;
      }*/
}
.carrousel .carrousel__fleche_gauche {
  background-color: hsla(235, 21%, 30%, 0.8);
  border-right: 1.8rem solid hsl(235, 21%, 70%);
  left: 0;
  margin-right: 1rem;
}
.carrousel .carrousel__fleche_gauche:hover {
  background-color: rgb(129, 252, 7);
}
.carrousel .carrousel__fleche_gauche::after {
  color: rgb(188, 31, 151);
  content: "⬅";
  font-size: 2rem;
  position: relative;
  right: -1.2rem;
  top: -0.7rem;
}
@media screen and (min-width: 992px) {
  .carrousel .carrousel__fleche_gauche {
    background-color: rgb(129, 252, 7);
  }
  .carrousel .carrousel__fleche_gauche:hover {
    background-color: hsla(235, 21%, 30%, 0.8);
  }
}
.carrousel .carrousel__fleche_droite {
  background-color: hsla(235, 21%, 30%, 0.8);
  border-left: 1.8rem solid hsl(235, 21%, 70%);
  margin-left: 1rem;
  right: 0;
}
.carrousel .carrousel__fleche_droite:hover {
  background-color: rgb(188, 31, 151);
}
.carrousel .carrousel__fleche_droite::after {
  color: rgb(129, 252, 7);
  content: "➡";
  font-size: 2rem;
  left: -1.2rem;
  position: relative;
  top: -0.7rem;
}
@media screen and (min-width: 992px) {
  .carrousel .carrousel__fleche_droite {
    background-color: rgb(188, 31, 151);
  }
  .carrousel .carrousel__fleche_droite:hover {
    background-color: hsla(235, 21%, 30%, 0.8);
  }
}

.carrousel__img:nth-of-type(1) {
  opacity: 1;
}

.carrousel--activer {
  transform: scale(1);
}

img.carrousel__img {
  padding: 0;
  margin: 0;
  box-shadow: none;
}

.blocflex__galerie img.carrousel__img {
  padding: 0;
  margin: 0;
  box-shadow: none;
}
@media screen and (min-width: 992px) {
  .blocflex__galerie img.carrousel__img {
    padding: 0;
  }
}/*# sourceMappingURL=style.css.map */